.algum {
    border: 4px solid #f00;
    width: 180px;
    height: 100px;
    margin: 75px;
    padding: 95px;
}

.paragrafo {
    border: 3px solid rgb(41, 23, 23);
    width: 140px;
    height: 110px;
    margin: 75px;
    padding: 90px;
}
.outro {
       border: 2px solid rgb(174, 255, 0);
       width: 160px;
       height: 120px;
       margin: 75px;
       padding: 85px;
}

.ultimo {
    border: 1px solid rgb(30, 129, 190);
    width: 170px;
    height: 140px;
    margin: 75px;
    padding: 80px;
}